body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fef6e4;
    font-family: "Josefin Sans", sans-serif;
    color: #33272a;
}

.login-container {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* Margin for better spacing */
}

.input-group.remember-me input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    accent-color: #33272a;
    /* Color of the checkbox */
}

.input-group.remember-me label {
    font-size: 15px;
    margin: 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.actions button {
    flex: 1;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    background-color: #33272a;
    color: #fef6e4;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.actions button:hover {
    background-color: #4a3b3d;
}

.forgot-password {
    margin-top: 20px;
    font-size: 14px;
}

.forgot-password a {
    color: #33272a;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: #4a3b3d;
}