#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  text-align: center;
  background-color: #fef6e4;
  color: #33272a;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fef6e4;
  padding: 10px;
  z-index: 1001;
}

.header-img {
  width: 80px;
  margin-right: 10px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.header-title span {
  display: block;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 140px;
  /* Header ve search bar'a yer açmak için artırıldı */
  justify-content: center;
}