:root {
  color: #33272a;
  background-color: #fef6e4;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18pt;
}

.header-img {
  position: fixed;
  top: 9px;
  left: 9px;
  width: 120px;
}

.header-title {
  position: fixed;
  top: 40px;
  left: 140px;
  /* Sidebar genişliğine göre ayarlandı */
  font-size: 20pt;
}